<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>MeetingPlanner</title>
</head>
<body>
<h1 th:text="'Welcome, ' + ${user.username} + '!'">Welcome!</h1>

<a sec:authorize="isAuthenticated()" href="#" th:href="@{/logout}">Log out</a>

<p sec:authorize="hasAuthority('ROLE_ADMIN')">You are administrator of this page. You can proceed to <a href="#" th:href="@{/h2-console}">H2 console</a></p>

<p sec:authorize="hasAuthority('ROLE_EMPLOYEE')">You are employee in our company.</p>

<h2>Projects section</h2>

<a href="/projects/all">All projects</a>
<br>
<a href="/projects/my">My projects</a>
<br>
<a href="/projects/involved">Projects that I am involved into</a>

<h2>Meetings section</h2>

<a href="/meetings/all">All meetings</a>
<br>
<a href="/meetings/my">My meetings</a>
<br>
<a href="/meetings/involved">Meetings in which I am a participant</a>
<br>
<a href="/meetings/add">Add new meeting</a>



</body>
</html>