<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>MeetingPlanner</title>
</head>
<body>
<h1 >Welcome on our page!</h1>

<a sec:authorize="!isAuthenticated()" href="#" th:href="@{/login}">Log in here</a>
<br>
<a sec:authorize="isAuthenticated()" href="#" th:href="@{/dashboard}">You are logged in, please click here to go to your dashboard</a>
<br>
<a sec:authorize="isAuthenticated()" href="#" th:href="@{/logout}">Log out</a>

</body>
</html>