<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>MeetingPlanner</title>
</head>
<body>
<h1>Single meeting page</h1>

<h2 th:text="${pageTitle}">Page subtitle</h2>

<p th:text="${message}" style="color:red">Message</p>

<form method="post" action="/meetings/add" th:action="@{/meetings/add}" th:object="${meeting}">

    <label for="title">Title:</label>
    <input type="text" th:field="*{title}" name="title" id="title">
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</p>
    <br>
    <input type="hidden" name="owner" value="0" th:value="${owner}" th:field="*{owner}">
    <input type="hidden" name="owner2" value="0" th:value="${owner}" ">
    <label for="begining">Begining:</label>
    <input type="hidden" name="begining" th:field="*{begining}" th:value="${currentDateTime}" />
    <input type="datetime-local" name="begining-manual" id="begining"th:value="${currentDateTime}" />
    <br>
    <label for="end">End:</label>
    <input type="hidden" name="end" th:field="*{end}" th:value="${defaultEndDateTime}" />
    <input type="datetime-local" name="end-manual" id="end" th:value="${defaultEndDateTime}" />


    <ul>
        <li th:each="participant : ${availableParticipants}">
            <input type="checkbox"  th:id="${participant.id}" name="participants" th:field="*{participants}" th:value="${participant.id}"/>
            <label th:for="${participant.id}" th:text="${participant.firstName} + ' ' + ${participant.lastName}">name</label>
        </li>
    </ul>

    <br>
    <label for="project">Project:</label>
    <select name="project" id="project">
        <option th:each="project: ${availableProjects}" th:field="*{project}" th:value="${project.id}" th:text="${project.title}"></option>
    </select>

    <br>
    <label for="room">Room:</label>
    <select name="room" id="room">
        <option th:each="room: ${availableRooms}" th:field="*{room}" th:value="${room.id}" th:text="${room.number}"></option>
    </select>

    <br>
    <button type="submit">Add new meeting</button>
</form>


<a href="/dashboard">Go back to dashboard</a>



</body>
</html>