<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>MeetingPlanner</title>
</head>
<body>
<h1>Projects page</h1>

<h2 th:text="${pageTitle}">Page subtitle</h2>

<table th:if="${!allProjects.isEmpty()}">
    <thead>
    <th>Title</th>
    <th>Owner</th>
    <th>Link do details</th>
    </thead>
    <tbody>
    <tr th:each="project : ${allProjects}">
        <td th:text="${project.title}">Single project info</td>
        <td th:text="${project.owner.firstName} + ' ' + ${project.owner.lastName}">Owner</td>
        <td><a href="#" th:href="'/projects/details/' + ${project.id}">Link do details</a></td>
    </tr>
    </tbody>
</table>

<br><br>
<a href="/dashboard">Go back to dashboard</a>



</body>
</html>